$FONT_COLOR_DEFAULT: black;
$FONT_COLOR_WHITE: white;
$FONT_SIZE_DEFAULT: 18px;

$COLOR_PRIMARY: #409EFF;
$COLOR_SUCCESS: #67C23A;
$COLOR_INFO: #909399;
$COLOR_WARNING: #E6A23C;
$COLOR_DANGER: #F56C6C;